<section class="action-buttons">
  <button mat-stroked-button color="primary" routerLink="add">Dodaj produkt</button>
</section>
<table class="table-details">
  <tr>
    <th>Id</th>
    <th>Nazwa</th>
    <th>Cena</th>
    <th>Ilość w magazynie</th>
    <th>Akcje</th>
  </tr>
  <tr *ngFor="let warehouseItem of warehouse; let rowIndex = index">
    <td>
      {{ warehouseItem.id }}
    </td>
    <td>
      {{ warehouseItem.productDTO.name }}
    </td>
    <td>
      {{ warehouseItem.productDTO.price }}
    </td>
    <td>
      {{ warehouseItem.quantity }}
    </td>
    <td>
      <button matTooltip="Aktualizuj stan magazynowy" mat-button><mat-icon>edit</mat-icon></button>
    </td>
  </tr>
</table>
